.missing-sku-product {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    &-subitem {
        display: flex;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        &:last-child {
            border: none;
        }
    }
    &-item {
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid #000;
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        &:last-child {
            border: none;
        }
    }
}