.header {
    height: 60px;
    width: 100%;
    background-color: #000;
    box-sizing: border-box;
    position: relative;
    &-logo {
        box-sizing: border-box;
        text-align: center;
        width: 240px;
        cursor: pointer;
        font-size: 42px;
        line-height: 60px;
        a {
            color: #fff;
        }
    }
    &-login {
        color: #fff;
        position: absolute;
        right: 40px;
        top: 0;
        line-height: 60px;
        cursor: pointer;
    }
}