.nav {
    border-right: 1px solid #000;
    box-sizing: border-box;
    flex: 0 0 240px;
    height: 100%;
    width: 100%;
    position: relative;
    &-item {
        cursor: pointer;
        border-bottom: 1px solid #000;
        line-height: 60px;
        width: 100%;
        text-align: center;
        display: block;
        box-sizing: border-box;
    }
    .copyright {
        border-top: 1px solid #000;
        box-sizing: border-box;
        line-height: 60px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
    }
}